BookingEngineForDarksite/src/main/resources/wsdl_latest_flight_list_display/wsdl/wsdl/1ASIWDCR4Z_PDT_20190614_073400.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:dcslst_flightlistdisplay_15_1="http://xml.amadeus.com/CFLDRQ_15_1_1A" xmlns:dcslst_flightlistdisplay_16_1="http://xml.amadeus.com/CFLDRQ_16_1_1A" xmlns:dcslst_flightlistdisplayreply_15_1="http://xml.amadeus.com/CFLDRR_15_1_1A" xmlns:dcslst_flightlistdisplayreply_16_1="http://xml.amadeus.com/CFLDRR_16_1_1A" xmlns:dcslst_getcheckinsummaryfigures_16_1="http://xml.amadeus.com/ACSFRQ_16_1_1A" xmlns:dcslst_getcheckinsummaryfiguresreply_16_1="http://xml.amadeus.com/ACSFRR_16_1_1A" xmlns:dcslst_getpassengerlist_17_1="http://xml.amadeus.com/APALRQ_17_1_1A" xmlns:dcslst_getpassengerlistreply_17_1="http://xml.amadeus.com/APALRR_17_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.amadeus.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="DCSLST_FlightListDisplay_15_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRQ_15_1_1A" />
      <xs:import schemaLocation="DCSLST_FlightListDisplayReply_15_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRR_15_1_1A" />
      <xs:import schemaLocation="DCSLST_FlightListDisplay_16_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRQ_16_1_1A" />
      <xs:import schemaLocation="DCSLST_FlightListDisplayReply_16_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRR_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetCheckInSummaryFigures_16_1_1A.xsd" namespace="http://xml.amadeus.com/ACSFRQ_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetCheckInSummaryFiguresReply_16_1_1A.xsd" namespace="http://xml.amadeus.com/ACSFRR_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetPassengerList_17_1_1A.xsd" namespace="http://xml.amadeus.com/APALRQ_17_1_1A" />
      <xs:import schemaLocation="DCSLST_GetPassengerListReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/APALRR_17_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part name="link" element="awsl:TransactionFlowLink" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part name="security" element="amasec:AMA_SecurityHostedUser" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplay_15_1">
    <wsdl:part name="DCSLST_FlightListDisplay_15_1" element="dcslst_flightlistdisplay_15_1:DCSLST_FlightListDisplay" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplayReply_15_1">
    <wsdl:part name="DCSLST_FlightListDisplayReply_15_1" element="dcslst_flightlistdisplayreply_15_1:DCSLST_FlightListDisplayReply" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplay_16_1">
    <wsdl:part name="DCSLST_FlightListDisplay_16_1" element="dcslst_flightlistdisplay_16_1:DCSLST_FlightListDisplay" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplayReply_16_1">
    <wsdl:part name="DCSLST_FlightListDisplayReply_16_1" element="dcslst_flightlistdisplayreply_16_1:DCSLST_FlightListDisplayReply" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFigures_16_1">
    <wsdl:part name="DCSLST_GetCheckInSummaryFigures_16_1" element="dcslst_getcheckinsummaryfigures_16_1:DCSLST_GetCheckInSummaryFigures" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFiguresReply_16_1">
    <wsdl:part name="DCSLST_GetCheckInSummaryFiguresReply_16_1" element="dcslst_getcheckinsummaryfiguresreply_16_1:DCSLST_GetCheckInSummaryFiguresReply" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetPassengerList_17_1">
    <wsdl:part name="DCSLST_GetPassengerList_17_1" element="dcslst_getpassengerlist_17_1:DCSLST_GetPassengerList" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetPassengerListReply_17_1">
    <wsdl:part name="DCSLST_GetPassengerListReply_17_1" element="dcslst_getpassengerlistreply_17_1:DCSLST_GetPassengerListReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="DCSLST_FlightListDisplay_15_1">
      <wsdl:input message="tns:DCSLST_FlightListDisplay_15_1" />
      <wsdl:output message="tns:DCSLST_FlightListDisplayReply_15_1" />
    </wsdl:operation>
    <wsdl:operation name="DCSLST_FlightListDisplay_16_1">
      <wsdl:input message="tns:DCSLST_FlightListDisplay_16_1" />
      <wsdl:output message="tns:DCSLST_FlightListDisplayReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <wsdl:input message="tns:DCSLST_GetCheckInSummaryFigures_16_1" />
      <wsdl:output message="tns:DCSLST_GetCheckInSummaryFiguresReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetPassengerList">
      <wsdl:input message="tns:DCSLST_GetPassengerList_17_1" />
      <wsdl:output message="tns:DCSLST_GetPassengerListReply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DCSLST_FlightListDisplay_15_1">
      <soap:operation soapAction="http://webservices.amadeus.com/CFLDRQ_15_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_FlightListDisplay_16_1">
      <soap:operation soapAction="http://webservices.amadeus.com/CFLDRQ_16_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <soap:operation soapAction="http://webservices.amadeus.com/ACSFRQ_16_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetPassengerList">
      <soap:operation soapAction="http://webservices.amadeus.com/APALRQ_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeA3.test.webservices.amadeus.com/1ASIWDCR4Z" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B0800000000000000258D410B82401484EFFE8A3916A13C6B29DA9B284950101A08DE36DBC323DD957509FAF73DEA367CC337535B678389EC1D224F7689669A35B6941F53DAA7B9C229F0D37C4007BD539A08F5F5BE219294746D7541FDF77DC0DB86456644CE28A3A41CD9BA0833CF230FBF038DAA6C9042F528388CEC5E025A34FEE1230F5849BB96D1E2066726AB9117EDB913A8FA2FEFEFD4CDA5000000-->
