BookingEngineForDarksite/src/main/resources/wsdl_latest_flight_list_display/wsdl/wsdl/DCSLST_FlightListDisplay_16_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CFLDRQ_16_1_1A" xmlns="http://xml.amadeus.com/CFLDRQ_16_1_1A" elementFormDefault="qualified">
  <xs:element name="DCSLST_FlightListDisplay">
    <xs:annotation>
      <xs:documentation xml:lang="en">Display Flight List Query</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="carrier" minOccurs="0" type="TransportIdentifierType" />
        <xs:element name="searchPeriod" minOccurs="0" type="StructuredPeriodInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Period to search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="portCode" minOccurs="0" maxOccurs="2" type="AirportNodeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Airport City Port Code (3225). First repetition is the main search criteria. Second repetition is the optional search criteria.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="terminals" minOccurs="0" type="TerminalLocationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of Terminals in Search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="displayType" minOccurs="0" type="StatusType" />
        <xs:element name="disruptedFlightsIndicator" minOccurs="0" type="SelectionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates whether the request is to select and display only the disrupted flights.  (4009: DIS)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="rangeOfGates" minOccurs="0" maxOccurs="2" type="PlaceLocationIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a range of gates.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirportNodeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information linked to a specific Airport and one or more terminals.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airportCode" type="AlphaString_Length3To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="operatingCompany" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the Facility, coded. E.g.: - Check-In Desk - Gate... The codeset is not yet defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal Description - BAEXC: means Ba-Executive Club Lounge when associated to</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type, in this case this is the gate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstLocationDetails" type="RelatedLocationOneIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">First gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated              information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option in this case is disrupted flights.  This option should be coded as: DIS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Select disrupted flights only.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" maxOccurs="9" type="StatusDetailsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" minOccurs="0" maxOccurs="9" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey information related to a specific Facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI" />
      <xs:element name="flightDetails" minOccurs="0" maxOccurs="2" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BDEC30C4B187B62802E8E0C64937A069BB24C52E0102D56212A1B2E4897251AFE87F1F653B6B7718B65D0C92A2F9F1DEE3D5EC66B6CCD7B3627B7B233EA5D9F928BD186529FF06CA022AD9F2F46272763E394DF9D562FD314D2769CAF2451EDA1A70AE0D585981A0C0F652A22ED7319C3CA3620F12E186DEB09625884308F5643C7EAE4C222BA9A0C1A474D5983D34561928B417638410B4DDE358E912597980F27145DF4A8AE01B60A553402928ACB3D1AB2AB0E40D6F552D6D1BDB09DB184381BAF57A7F08E224EFDBF13BEF6AAF2148DF7269159F3ABBD38A6A6869F817BB73BE92413B3BE18D954D3838AF7F80E20D4297AE3496C661E38163F0BA0CA6E5F4CF83565423E1845CCA47FCD80C139960F48DE1CB3807F2254DEF9F4025274CC14E36265CF93AC2A5C44E1A04A65CF3606005DF1BB025DCC9501E8617B097FF0426D8B79C9748D0EBF6E5093CD2566479304065C8927BEAD0BEB21DD1B76C0C61E622939DDFD1D9FD1CADBF1430AE946680DCB8BD221A8BC9E6F32C2F3633A577B20C6BE70C6E66EB6DA131481BA6C414F147CC6D16D23F4264BCCFC18E6BDC5CBB3DD5B2FB6E10AD6EAD6959057E0F03189D3DD76014AE9C0FBFE0A3C591E6CA3162FA7BAC20D6B5199463FF0BA2DA691B6E20F4747462F3CE857708757E1470C2FA1522A2184F291DA7D910C3B9F3B9D1547B506CD4822E010B5212F52651F62862257D8875EFAD2E756887458297164DA74FC24710D6381E2AAFF3C5F84581D1B4862401BD26F4CAE278EAFDF99058A6C79BE96B52A483AABB646D4BF68C26DC36A16EC2DC19055EC40063A3D1A287F10372FD7627A311EB411259CEDEF517F95DBE2DA6ABEBD57A9B9D9F92AC2BA9ADA00883E79A18DB4ADC16B32BB15EDECF8E0C71E9418A2C3B3B06C4747E5D2CBFB29A6E42E38158EEB1EF091219594F3AB24666078EEC701443E3B98947774D9A23DDD546B6ECC8D79F33061988EC9CFD04B363D4A115050000
-->

