BookingEngineForDarksite/src/main/resources/wsdl_latest_flight_list_display/wsdl/wsdl/DCSLST_FlightListDisplay_15_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CFLDRQ_15_1_1A" xmlns="http://xml.amadeus.com/CFLDRQ_15_1_1A" elementFormDefault="qualified">
  <xs:element name="DCSLST_FlightListDisplay">
    <xs:annotation>
      <xs:documentation xml:lang="en">Display Flight List Query</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="carrier" minOccurs="0" type="TransportIdentifierType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Operating carrier and flight number range. Not needed for Flight Monitor List (STX indicator is FSL) and LH multicarrier search, mandatory otherwise.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="searchPeriod" minOccurs="0" type="StructuredPeriodInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Period to search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="portCode" minOccurs="0" maxOccurs="2" type="AirportNodeInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Airport City Port Code (3225). First repetition is the main search criteria. Second repetition is the optional search criteria.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="terminals" minOccurs="0" type="TerminalLocationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">List of Terminals in Search</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="displayType" minOccurs="0" type="StatusType">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Display Type - Default both Arrival and departure. (1245=DA) Display Arrival Flights (1245=DD) Display Departing Flights (1245=FSL) Display Flight Monitor List (1245=OA) Display list of Overbooked Arriving Flights (1245=OD) Display list of Overbooked Departing Flights (1245=OB) Display list of all Overbooked Flights (both arriving and departing)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="disruptedFlightsIndicator" minOccurs="0" type="SelectionDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Indicates whether the request is to select and display only the disrupted flights.  (4009: DIS)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="rangeOfGates" minOccurs="0" maxOccurs="2" type="PlaceLocationIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Conveys a range of gates.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirportNodeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information linked to a specific Airport and one or more terminals.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airportCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify either a City Code or an Airport Code. See IATA Airline Coding directory. IATA 3 letter city/aircode code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="operatingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating Carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the Facility, coded. E.g.: - Check-In Desk - Gate... The codeset is not yet defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal Description - BAEXC: means Ba-Executive Club Lounge when associated to</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type, in this case this is the gate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstLocationDetails" type="RelatedLocationOneIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">First gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated              information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option in this case is disrupted flights.  This option should be coded as: DIS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Select disrupted flights only.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" minOccurs="0" maxOccurs="9" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey information related to a specific Facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" minOccurs="0" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" minOccurs="0" maxOccurs="2" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B080000000000000095534D6FDB300CBDEB5708BBEC30C47116641802E8E0C64936A069BB24BD0508148B4984CA9227CA45BDA2FF7D94EDACDD61D87631488AE6C77B8FCBF9CD7C9D6DE7F9FEF6467C4C479341FA69907EE62B67956CF8683C9DA4D3F1842F57DB0F693A4D5396ADB2D054800B6DC0CA120405F6571275B18DE1E409153B48841B7AC34A1620CE2154D3E1F0A934892CA5821A93C2954376A8AD32906B2F860821687BC2A1D205B2E20CC5C386BEA514C1D7C00AA78052505867A3579660C9EBDFCA4ADA26B613B636860255E3F5E91CC4BBAC6BC7EFBCABBC86207DC3A5557CE6EC512BAAA1A5E15FEDD1F95206EDEC94D756D6E1ECBCFE018AD7086DBAD2581887B5078EC1EB229886D33F07ADA846C209B6940FF8A5192632C1E81BC3D7710EE46B9ADE3F824ADE310547599BB0F455844B89A334084CB9FA606003DF6BB005DCC9509CFB17B057FF0426D8D79CE748D0CBFEF9113CD2566479304065C89227EAD0BCB023D1B7AE0D61E62293ADDFD2D9FE1CADBF1430AE90A687DCB893221AF3E9EECB3CCB7773A58FB2085BE70CEEE6DB7DAE31481B66C414F147CCED56D23F4064BCCBC1966BDC5DBB13D5B2A77610AD6EAD695809FE043D18ADBDD060146E9C0FBFE0A3C591E6CA3062FA7B2C27D6B5E99563FF0BA2CA691B6E207474B462F3CE853708B57E1470C2BA1522A218EF281DA6A33E860BE733A3A976AFD8A8055D00E6A424EA4DA2EC50C452FA10EBDE5B5DE8D0F48B042F2D9A569F848F20AC71D857DE66ABE1B302A3690D49027A49E895C5F1D4DBF321B1CC2E37D3D5A4480B557BC9DA16EC094DB8AD43558785330ABC8801C606835507E37BE4FAF54E0603D6812446197BD35F6477D93E9F6DAE37DBFD6832265997525B4111064F1531B697B8CFE74BB15DDFCF2F0C71E9418AD168720988D9E23A5F7F6315DD84C633B1DC61DF112446643DEAC89A1877E0C81647D1375E987874D7A439D25D6564C32E7CFD39A39781A0217E02494697EC12050000
-->

