BookingEngineForDarksite/src/main/resources/wsdl/1ASIWRIA4Z_PRD_20180827_131228.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Created with WSDLGenerator 1.0.0 by Amadeus SAS -->
<!-- "Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved." -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://xml.amadeus.com" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:pnr_search_16_1="http://xml.amadeus.com/PAUSRQ_16_1_1A" xmlns:pnr_searchreply_16_1="http://xml.amadeus.com/PAUSRR_16_1_1A" xmlns:pnr_reply_17_1="http://xml.amadeus.com/PNRACC_17_1_1A" xmlns:pnr_addmultielements_17_1="http://xml.amadeus.com/PNRADD_17_1_1A" xmlns:pnr_retrieve_17_1="http://xml.amadeus.com/PNRRET_17_1_1A" xmlns:ticket_processedoc_15_2="http://xml.amadeus.com/TATREQ_15_2_1A" xmlns:ticket_processedocreply_15_2="http://xml.amadeus.com/TATRES_15_2_1A" xmlns:pnr_list_0_1="http://xml.amadeus.com/TNLRES_00_1_1A" xmlns:ticket_displaytst_15_1="http://xml.amadeus.com/TTSTRQ_15_1_1A" xmlns:ticket_displaytstreply_15_1="http://xml.amadeus.com/TTSTRR_15_1_1A" xmlns:security_authenticate_6_1="http://xml.amadeus.com/VLSSLQ_06_1_1A" xmlns:security_authenticatereply_6_1="http://xml.amadeus.com/VLSSLR_06_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import namespace="http://xml.amadeus.com/2010/06/Session_v3" schemaLocation="AMA/2012B/AMA_WS_Session.xsd" />
      <xs:import namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" schemaLocation="AMA_WSLink.xsd" />
      <xs:import namespace="http://xml.amadeus.com/2010/06/Security_v1" schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PAUSRQ_16_1_1A" schemaLocation="PNR_Search_16_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PAUSRR_16_1_1A" schemaLocation="PNR_SearchReply_16_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRACC_17_1_1A" schemaLocation="PNR_Reply_17_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRADD_17_1_1A" schemaLocation="PNR_AddMultiElements_17_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/PNRRET_17_1_1A" schemaLocation="PNR_Retrieve_17_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TATREQ_15_2_1A" schemaLocation="Ticket_ProcessEDoc_15_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TATRES_15_2_1A" schemaLocation="Ticket_ProcessEDocReply_15_2_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TNLRES_00_1_1A" schemaLocation="PNR_List_00_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TTSTRQ_15_1_1A" schemaLocation="Ticket_DisplayTST_15_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/TTSTRR_15_1_1A" schemaLocation="Ticket_DisplayTSTReply_15_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSLQ_06_1_1A" schemaLocation="Security_Authenticate_06_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSLR_06_1_1A" schemaLocation="Security_AuthenticateReply_06_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" schemaLocation="Security_SignOut_04_1_1A.xsd" />
      <xs:import namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" schemaLocation="Security_SignOutReply_04_1_1A.xsd" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part element="awsse:Session" name="session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part element="awsl:TransactionFlowLink" name="link" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part element="amasec:AMA_SecurityHostedUser" name="security" />
  </wsdl:message>
  <wsdl:message name="PNR_AddMultiElements_17_1">
    <wsdl:part element="pnr_addmultielements_17_1:PNR_AddMultiElements" name="PNR_AddMultiElements_17_1" />
  </wsdl:message>
  <wsdl:message name="PNR_List_0_1">
    <wsdl:part element="pnr_list_0_1:PNR_List" name="PNR_List_0_1" />
  </wsdl:message>
  <wsdl:message name="PNR_Reply_17_1">
    <wsdl:part element="pnr_reply_17_1:PNR_Reply" name="PNR_Reply_17_1" />
  </wsdl:message>
  <wsdl:message name="PNR_Retrieve_17_1">
    <wsdl:part element="pnr_retrieve_17_1:PNR_Retrieve" name="PNR_Retrieve_17_1" />
  </wsdl:message>
  <wsdl:message name="PNR_Search_16_1">
    <wsdl:part element="pnr_search_16_1:PNR_Search" name="PNR_Search_16_1" />
  </wsdl:message>
  <wsdl:message name="PNR_SearchReply_16_1">
    <wsdl:part element="pnr_searchreply_16_1:PNR_SearchReply" name="PNR_SearchReply_16_1" />
  </wsdl:message>
  <wsdl:message name="Security_Authenticate_6_1">
    <wsdl:part element="security_authenticate_6_1:Security_Authenticate" name="Security_Authenticate_6_1" />
  </wsdl:message>
  <wsdl:message name="Security_AuthenticateReply_6_1">
    <wsdl:part element="security_authenticatereply_6_1:Security_AuthenticateReply" name="Security_AuthenticateReply_6_1" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part element="security_signout_4_1:Security_SignOut" name="Security_SignOut_4_1" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part element="security_signoutreply_4_1:Security_SignOutReply" name="Security_SignOutReply_4_1" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTST_15_1">
    <wsdl:part element="ticket_displaytst_15_1:Ticket_DisplayTST" name="Ticket_DisplayTST_15_1" />
  </wsdl:message>
  <wsdl:message name="Ticket_DisplayTSTReply_15_1">
    <wsdl:part element="ticket_displaytstreply_15_1:Ticket_DisplayTSTReply" name="Ticket_DisplayTSTReply_15_1" />
  </wsdl:message>
  <wsdl:message name="Ticket_ProcessEDoc_15_2">
    <wsdl:part element="ticket_processedoc_15_2:Ticket_ProcessEDoc" name="Ticket_ProcessEDoc_15_2" />
  </wsdl:message>
  <wsdl:message name="Ticket_ProcessEDocReply_15_2">
    <wsdl:part element="ticket_processedocreply_15_2:Ticket_ProcessEDocReply" name="Ticket_ProcessEDocReply_15_2" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="PNR_AddMultiElements">
      <wsdl:input message="tns:PNR_AddMultiElements_17_1" />
      <wsdl:output message="tns:PNR_Reply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <wsdl:input message="tns:PNR_Retrieve_17_1" />
      <wsdl:output message="tns:PNR_Reply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <wsdl:input message="tns:PNR_Retrieve_17_1" />
      <wsdl:output message="tns:PNR_List_0_1" />
    </wsdl:operation>
    <wsdl:operation name="PNR_Search">
      <wsdl:input message="tns:PNR_Search_16_1" />
      <wsdl:output message="tns:PNR_SearchReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <wsdl:input message="tns:Security_Authenticate_6_1" />
      <wsdl:output message="tns:Security_AuthenticateReply_6_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTST">
      <wsdl:input message="tns:Ticket_DisplayTST_15_1" />
      <wsdl:output message="tns:Ticket_DisplayTSTReply_15_1" />
    </wsdl:operation>
    <wsdl:operation name="Ticket_ProcessEDoc">
      <wsdl:input message="tns:Ticket_ProcessEDoc_15_2" />
      <wsdl:output message="tns:Ticket_ProcessEDocReply_15_2" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PNR_AddMultiElements">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRADD_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRRET_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Retrieve2">
      <soap:operation soapAction="http://webservices.amadeus.com/PNRRET_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PNR_Search">
      <soap:operation soapAction="http://webservices.amadeus.com/PAUSRQ_16_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_Authenticate">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSLQ_06_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_DisplayTST">
      <soap:operation soapAction="http://webservices.amadeus.com/TTSTRQ_15_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ticket_ProcessEDoc">
      <soap:operation soapAction="http://webservices.amadeus.com/TATREQ_15_2_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
        <soap:header use="literal" part="security" message="tns:AMA_SecurityHostedUser_1.000" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header use="literal" part="session" message="tns:Session_3.000" />
        <soap:header use="literal" part="link" message="tns:TransactionFlowLink_1.0" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port name="AmadeusWebServicesPort" binding="tns:AmadeusWebServicesBinding">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeA3.production.webservices.amadeus.com/1ASIWRIA4Z" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>


<!-- Build Key: 1F8B080000000000000025CC410B82301887F1BB9FE27F2CC278B78464B7512042426420781BFA06233765AEA06FDFA8EB03CFAF62CFC1443B7B44EB788DC62D0A9244995399CB239AD98FE6037150422A59A26AEE3B22459475EDF982EAFFCF016F0E6B6214C49EF6949D26CB1E6659263BFC7C85A287B661B2FE09EDCCC8AF15B58F1C1E66606C6EB5DE26535FE18DE3C4E8B6EE522CFA2F86FCC751A4000000 -->