BookingEngineForDarksite/src/main/resources/wsdl/PNR_Search_16_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/PAUSRQ_16_1_1A" xmlns="http://xml.amadeus.com/PAUSRQ_16_1_1A" elementFormDefault="qualified">
  <xs:element name="PNR_Search">
    <xs:annotation>
      <xs:documentation xml:lang="en">Query to search PNR(s) by criteria</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="options" maxOccurs="3" type="CodedAttributeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">A single search option must be specified. Other options can also be used depending on the kind of search.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="flightInformation" minOccurs="0" type="TravelProductInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Flight identification : - Carrier code (M) - Flight number (M) - Flight suffix (C) - Departure date (M) - Boarding point (C) - Offpoint (C)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enhancedPassengerNameInfo" minOccurs="0" type="EnhancedTravellerInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Criteria for the search:  - passenger (full or partial) lastname (Mandatory)  - passenger(full or partial)first name (Optional)(can include the title)  To be imperatively used if name is UTF-8 encoded.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="office" minOccurs="0" type="UserIdentificationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Office to perform the search.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="segmentType" minOccurs="0" type="CompanyInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Type of service to precise the search: Hotel, Car, etc. and Company Code (if applicable)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="dateInformation" minOccurs="0" type="StructuredPeriodInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Service/Flight Date: - Departure Date or In Date (M) - Out Date (C)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="locationInfo" minOccurs="0" type="OriginAndDestinationDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Used to encode Origin and Destination points</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="frequentTravellerInformation" minOccurs="0" type="FrequentTravellerIdentificationCodeType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Frequent Traveller Information</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="annoutNumber" minOccurs="0" type="AccountingInformationElementType" />
        <xs:element name="recordLocator" minOccurs="0" type="ReservationControlInformationType">
          <xs:annotation>
            <xs:documentation xml:lang="en">OA Record Locator or by Customer Profile Record Locator or by External reference</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ticketNumber" minOccurs="0" type="TicketNumberType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Ticket number (without the numeric provider code)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="ticketProvider" minOccurs="0" type="TransportIdentifierType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Ticket provider. This is to specify the ticketing-specific 3-digit provider code (different from the traditional alphanumeric provider code).</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="cardNumber" minOccurs="0" type="CreditCardDataType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Credit card number information.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="providerProductDetails" minOccurs="0" type="InsuranceProductDetailsType">
          <xs:annotation>
            <xs:documentation xml:lang="en">This segments holds the insurance policy number and country code for the insurance</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccountingElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">ACCOUNTING ELEMENT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="AlphaNumericString_Length1To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Account number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AccountingInformationElementType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the Amadeus Accounting Information element (AI element).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="account" type="AccountingElementType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to encode the Account Number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Contains the Search/Output/Filter option.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeFunction" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To define the type of option: - Search option - SEA (Mandatory) - Output option - OUT (Optional) - Output option - FIL (Optional)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDetails" maxOccurs="5" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To define the option</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherCompany" type="NumericInteger_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Numeric Airline code (3 Digits)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI_285927C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline company code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to convey the company information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="travelSector" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to qualify the company code, to identify the industry business it belongs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyCode" minOccurs="0" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element is used to convey the Vendor Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditCardDataType">
    <xs:annotation>
      <xs:documentation xml:lang="en">specify credit card data for credit card authorization - USED IN CCVRQT</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ccInfo" minOccurs="0" type="CreditCardInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify Credit Card details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditCardInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">credit card info</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cardNumber" type="AlphaNumericString_Length1To19">
        <xs:annotation>
          <xs:documentation xml:lang="en">Card number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherPaxNamesDetails" maxOccurs="5" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">5 possible types of names, for 1 passenger.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationCodeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify frequent traveler information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="frequentTravellerDetails" type="FrequentTravellerIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Traveller Information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FrequentTravellerIdentificationType">
    <xs:sequence>
      <xs:element name="carrier" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier where the Frequent Flyer is registered.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="number" type="AlphaNumericString_Length1To28">
        <xs:annotation>
          <xs:documentation xml:lang="en">Frequent Flyer number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InsuranceProductDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Product Details</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="countryCode" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To identify the country code from the provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="extraReference" maxOccurs="4" type="AlphaNumericString_Length1To60">
        <xs:annotation>
          <xs:documentation xml:lang="en">Authorization number provided by the insurance company</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LocationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trueLocationId" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">City Code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginAndDestinationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey the origin and destination of a journey.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="origin" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Board point (if related to air segment) or location (if related to auxiliary segment)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="destination" minOccurs="0" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Off point</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OriginatorIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the originator of the travel request.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inHouseIdentification1" type="AlphaNumericString_Length1To9">
        <xs:annotation>
          <xs:documentation xml:lang="en">Office id</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductDateTimeTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the dates and times associated with a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="departureDate" type="Date_DDMMYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">AIR segment : departure date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" minOccurs="0" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number operational alpha suffix : A, B, C, D, E.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the information required to identify a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyId" minOccurs="0" type="AlphaNumericString_Length2To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">Optional Company code: Airline, GDS, or Tour Operator Code N/A for PNR search by Customer Profile Record Locator</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="controlNumber" type="AlphaNumericString_Length1To20">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to encode either: OA Record Locator (booking Reference) or Customer Profile Record Locator (format an6)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReservationControlInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a reference to a reservation.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="reservation" type="ReservationControlInformationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">User in PNR search by: OA record locator Profile Record Locator External reference</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="beginDateTime" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a ticket number, type of ticket, and related information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number" type="NumericString_Length10To10">
        <xs:annotation>
          <xs:documentation xml:lang="en">Amadeus Ticket Number (10 Digits)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TicketNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information related to a specific ticket.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="documentDetails" type="TicketNumberDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Ticket number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Airline code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravelProductInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify details related to a product.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightDate" type="ProductDateTimeTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify dates and times of the segment</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPointDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Boarding point details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offpointDetails" minOccurs="0" type="LocationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Off Point details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyDetails" type="CompanyIdentificationTypeI_285927C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company identification</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightIdentification" type="ProductIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Product identifications details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Passenger firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is used to identify a user.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="originIdentification" type="OriginatorIdentificationDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Used to encode the Office where the search has to be performed</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To60">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..60</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="60" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To9">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..9</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="9" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To28">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..28</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="28" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To20">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..20</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericString_Length10To10">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an10</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="10" />
      <xs:maxLength value="10" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{3,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To19">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..19</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="19" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_DDMMYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: DDMMYY</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0[1-9]|[1-2][0-9]|3[0-1])(0[1-9]|1[0-2])[0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553CB6EDB3A10DDF32B886EEEE2C2B214202960800B3596D302B5E3DACECE80C190639B2845AA1C2A881AE4DF3B94E4265DF5DE8D300F6A1EE79CB9AB56D5A6DC55F3C3FD4A5CE5C5CDA4C827F947BE0846CB8E17F9ECEA6A76FD91DF2D77FFE6F92CCF59B92C63D7002E8C05276B1014387C9268D42E85B367D4EC5122AC28878D5420CE3136B3E9F4B9B699ACA5861633E5EB297B6C9DB63037414C116234EE84536D14327506F57D4BDF5A8A185A60CA6BA027289C77C9AB6B70E48DB9BA91AE4BED846BADA540D305733A47F1A11CDAF175F04D301065E8B8749ADF7A77349A6A1869F91777F4A196D17837E3AD936D3CFB607E82E62D42FF5C1B54D6631B80630C4645DB71FAE7D168AA9171822DE7137E698699CC30F9D6F24D9A03F986A60F4FA0B30F4CC351B636DE8526C1A5C5515A04A67DFB68610B3F5A700AD632AAF39801F7E93F8109EEEDCD4B22E8F5F0F20401692BB20258A03264C91375E85ED991E8DBB49630F389C9DEEFE9EC7F4ED65F0A58AFA41D21B7FEA489C6F96CFFB92AE7FB4A9BA35471E7BDC57DB53BCC0D46E9E22D3145FC1173FBA50CDF21313EBCC19E6BDC7FF527AAE54EFD2046DF3BDBB11AC20946307A7B61C06ADCFA107FC3478B23CD5562C2F4CFD89C583776548EFB5F1035DEB8B88238D0D18B2D781FDF21D4FB49C0191B56488862BAA37C9A17630C173E94D650ED51B1490B4601CE4949D49B4439A088B50C31D57D704699D88D8BC4201DDA5E9F848F20AC713A56DE95CBE98B066B680D49027ACD28CBD278FAFDF990586E2F3733D4A4480F557FC9C629F68C36DEB7B169E3C25B0D41A4006393C97280F11FE4E6ED4E26133680248A92BDEB2FCA757958AF3687E2E69A345D4BE3C4A6DA31786E88AE83C4C3BCBA13BBCD4375A187CB005214D7175FACCB87EDE61B6BE81E0C9E89E101F7811C5190F564126364F6C0C81E43919A6E410675661776DEC7469A4571C37E01AC64162EF2040000
-->

