BookingEngineForDarksite/config/SOGL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2006 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="CODE">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="1"/>
				<xs:enumeration value="100"/>
				<xs:enumeration value="101"/>
				<xs:enumeration value="102"/>
                <xs:enumeration value="103"/>
                <xs:enumeration value="104"/>
                <xs:enumeration value="105"/>
                <xs:enumeration value="106"/>
                <xs:enumeration value="107"/>
				<xs:enumeration value="114"/>
				<xs:enumeration value="115"/>
				<xs:enumeration value="116"/>
				<xs:enumeration value="117"/>
				<xs:enumeration value="118"/>
				<xs:enumeration value="119"/>
				<xs:enumeration value="120"/>
				<xs:enumeration value="121"/>
				<xs:enumeration value="123"/>
				<xs:enumeration value="124"/>
                <xs:enumeration value="126"/>
				<xs:enumeration value="127"/>
				<xs:enumeration value="128"/>
				<xs:enumeration value="CARB"/>
				<xs:enumeration value="GFML"/>
				<xs:enumeration value="BBML"/>
				<xs:enumeration value="BLND"/>
				<xs:enumeration value="DBML"/>
				<xs:enumeration value="DEAF"/>
				<xs:enumeration value="HNML"/>
				<xs:enumeration value="KSML"/>
				<xs:enumeration value="MAAS"/>
				<xs:enumeration value="MOML"/>
				<xs:enumeration value="VGML"/>
				<xs:enumeration value="WCHC"/>
				<xs:enumeration value="WCHR"/>
				<xs:enumeration value="WCHS"/>
				<xs:enumeration value="BDGR"/>
				<xs:enumeration value="EDLY"/>
				<xs:enumeration value="PREG"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="GLOBAL_LIST">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="NAME"/>
				<xs:element ref="LIST_ELEMENT" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="mode" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="complete"/>
						<xs:enumeration value="partial"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="LIST_ELEMENT">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CODE"/>
				<xs:element ref="LIST_VALUE" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LIST_VALUE">
		<xs:complexType mixed="true">
			<xs:attribute name="null">
				<xs:simpleType>
					<xs:restriction base="xs:boolean"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="NAME">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="SITE_SITE_FARE_COMMANDS_AND_OPTIONS"/>
				<xs:enumeration value="SO_SINGLE_MULTIPLE_COMMAND_BUILDER"/>
				<xs:enumeration value="SITE_CHARGEABLE_SERVICES"/>
				<xs:enumeration value="SITE_AIRLINE_SEAT_OCCUPATION"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SO_GL">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="GLOBAL_LIST" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
