BookingEngineForDarksite/src/main/resources/wsdl_08022019/1ASIWDCR4Z_PDT_20190208_090121.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created with WSDLGenerator 2.0.0 by Amadeus SAS-->
<!--  Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2015 - Amadeus s.a.s - All Rights Reserved.  -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:amasec="http://xml.amadeus.com/2010/06/Security_v1" xmlns:awsl="http://wsdl.amadeus.com/2010/06/ws/Link_v1" xmlns:awsse="http://xml.amadeus.com/2010/06/Session_v3" xmlns:dcslst_flightlistdisplay_16_1="http://xml.amadeus.com/CFLDRQ_16_1_1A" xmlns:dcslst_flightlistdisplayreply_16_1="http://xml.amadeus.com/CFLDRR_16_1_1A" xmlns:dcslst_getcheckinsummaryfigures_16_1="http://xml.amadeus.com/ACSFRQ_16_1_1A" xmlns:dcslst_getcheckinsummaryfiguresreply_16_1="http://xml.amadeus.com/ACSFRR_16_1_1A" xmlns:dcslst_getpassengerlist_17_1="http://xml.amadeus.com/APALRQ_17_1_1A" xmlns:dcslst_getpassengerlistreply_17_1="http://xml.amadeus.com/APALRR_17_1_1A" xmlns:security_signout_4_1="http://xml.amadeus.com/VLSSOQ_04_1_1A" xmlns:security_signoutreply_4_1="http://xml.amadeus.com/VLSSOR_04_1_1A" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.amadeus.com" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com">
  <wsp:Policy wsu:Id="MessagingPolicy">
    <wsam:Addressing wsp:Optional="true">
      <wsp:Policy>
        <wsam:AnonymousResponses />
      </wsp:Policy>
    </wsam:Addressing>
  </wsp:Policy>
  <wsp:Policy wsu:Id="AmadeusPolicy">
    <wsp:PolicyReference URI="#MessagingPolicy" />
  </wsp:Policy>
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="DCSLST_FlightListDisplay_16_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRQ_16_1_1A" />
      <xs:import schemaLocation="DCSLST_FlightListDisplayReply_16_1_1A.xsd" namespace="http://xml.amadeus.com/CFLDRR_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetCheckInSummaryFigures_16_1_1A.xsd" namespace="http://xml.amadeus.com/ACSFRQ_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetCheckInSummaryFiguresReply_16_1_1A.xsd" namespace="http://xml.amadeus.com/ACSFRR_16_1_1A" />
      <xs:import schemaLocation="DCSLST_GetPassengerList_17_1_1A.xsd" namespace="http://xml.amadeus.com/APALRQ_17_1_1A" />
      <xs:import schemaLocation="DCSLST_GetPassengerListReply_17_1_1A.xsd" namespace="http://xml.amadeus.com/APALRR_17_1_1A" />
      <xs:import schemaLocation="Security_SignOut_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOQ_04_1_1A" />
      <xs:import schemaLocation="Security_SignOutReply_04_1_1A.xsd" namespace="http://xml.amadeus.com/VLSSOR_04_1_1A" />
      <xs:import schemaLocation="AMA/2012B/AMA_WS_Session.xsd" namespace="http://xml.amadeus.com/2010/06/Session_v3" />
      <xs:import schemaLocation="AMA_WSLink.xsd" namespace="http://wsdl.amadeus.com/2010/06/ws/Link_v1" />
      <xs:import schemaLocation="AMA/2012B/AMA_SecurityHostedUser.xsd" namespace="http://xml.amadeus.com/2010/06/Security_v1" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="Session_3.000">
    <wsdl:part name="session" element="awsse:Session" />
  </wsdl:message>
  <wsdl:message name="TransactionFlowLink_1.0">
    <wsdl:part name="link" element="awsl:TransactionFlowLink" />
  </wsdl:message>
  <wsdl:message name="AMA_SecurityHostedUser_1.000">
    <wsdl:part name="security" element="amasec:AMA_SecurityHostedUser" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplay_16_1">
    <wsdl:part name="DCSLST_FlightListDisplay_16_1" element="dcslst_flightlistdisplay_16_1:DCSLST_FlightListDisplay" />
  </wsdl:message>
  <wsdl:message name="DCSLST_FlightListDisplayReply_16_1">
    <wsdl:part name="DCSLST_FlightListDisplayReply_16_1" element="dcslst_flightlistdisplayreply_16_1:DCSLST_FlightListDisplayReply" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFigures_16_1">
    <wsdl:part name="DCSLST_GetCheckInSummaryFigures_16_1" element="dcslst_getcheckinsummaryfigures_16_1:DCSLST_GetCheckInSummaryFigures" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetCheckInSummaryFiguresReply_16_1">
    <wsdl:part name="DCSLST_GetCheckInSummaryFiguresReply_16_1" element="dcslst_getcheckinsummaryfiguresreply_16_1:DCSLST_GetCheckInSummaryFiguresReply" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetPassengerList_17_1">
    <wsdl:part name="DCSLST_GetPassengerList_17_1" element="dcslst_getpassengerlist_17_1:DCSLST_GetPassengerList" />
  </wsdl:message>
  <wsdl:message name="DCSLST_GetPassengerListReply_17_1">
    <wsdl:part name="DCSLST_GetPassengerListReply_17_1" element="dcslst_getpassengerlistreply_17_1:DCSLST_GetPassengerListReply" />
  </wsdl:message>
  <wsdl:message name="Security_SignOut_4_1">
    <wsdl:part name="Security_SignOut_4_1" element="security_signout_4_1:Security_SignOut" />
  </wsdl:message>
  <wsdl:message name="Security_SignOutReply_4_1">
    <wsdl:part name="Security_SignOutReply_4_1" element="security_signoutreply_4_1:Security_SignOutReply" />
  </wsdl:message>
  <wsdl:portType name="AmadeusWebServicesPT">
    <wsdl:operation name="DCSLST_FlightListDisplay">
      <wsdl:input message="tns:DCSLST_FlightListDisplay_16_1" />
      <wsdl:output message="tns:DCSLST_FlightListDisplayReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <wsdl:input message="tns:DCSLST_GetCheckInSummaryFigures_16_1" />
      <wsdl:output message="tns:DCSLST_GetCheckInSummaryFiguresReply_16_1" />
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetPassengerList">
      <wsdl:input message="tns:DCSLST_GetPassengerList_17_1" />
      <wsdl:output message="tns:DCSLST_GetPassengerListReply_17_1" />
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <wsdl:input message="tns:Security_SignOut_4_1" />
      <wsdl:output message="tns:Security_SignOutReply_4_1" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AmadeusWebServicesBinding" type="tns:AmadeusWebServicesPT">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DCSLST_FlightListDisplay">
      <soap:operation soapAction="http://webservices.amadeus.com/CFLDRQ_16_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetCheckInSummaryFigures">
      <soap:operation soapAction="http://webservices.amadeus.com/ACSFRQ_16_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DCSLST_GetPassengerList">
      <soap:operation soapAction="http://webservices.amadeus.com/APALRQ_17_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Security_SignOut">
      <soap:operation soapAction="http://webservices.amadeus.com/VLSSOQ_04_1_1A" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
        <soap:header message="tns:AMA_SecurityHostedUser_1.000" part="security" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:Session_3.000" part="session" use="literal" />
        <soap:header message="tns:TransactionFlowLink_1.0" part="link" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AmadeusWebServices">
    <wsdl:port binding="tns:AmadeusWebServicesBinding" name="AmadeusWebServicesPort">
      <wsp:PolicyReference URI="#AmadeusPolicy" />
      <soap:address location="https://nodeA3.test.webservices.amadeus.com/1ASIWDCR4Z" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
<!--1F8B0800000000000000258D4D0B82401445F7FE8ABB2C4279232E7276A22441416820B89B6C168FE643C621E8DF37D4F65CCEB9BD763AA8C8DE21B2D55B5476952849D43995391D710AFC541F502D49C852A0BFDE0F4492289BC6EE82FEEFFB80B70E5BCA24B9A082B2D6B076116A5D0D2FBF0389AE1D90A39AD17030EC5E098C18FCC3475EB04BEB3E459B1B9CB25A4234E3794AB09ABFFD4BB2EBA5000000-->
