BookingEngineForDarksite/src/main/resources/wsdl_08022019/DCSLST_FlightListDisplayReply_16_1_1A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.amadeus.com/CFLDRR_16_1_1A" xmlns="http://xml.amadeus.com/CFLDRR_16_1_1A" elementFormDefault="qualified">
  <xs:element name="DCSLST_FlightListDisplayReply">
    <xs:annotation>
      <xs:documentation xml:lang="en">Flight List Display Reply
Display Flight List Response
Based on 15.1</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errors" minOccurs="0" maxOccurs="5" type="ErrorGroupType">
          <xs:annotation>
            <xs:documentation xml:lang="en">Details of general error message</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="searchCriteria" minOccurs="0">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Search Criteria</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="carrier" type="TransportIdentifierType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Operating carrier and flight number range</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="searchPeriod" type="StructuredPeriodInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The Search Period (2005=SDT) Search Date Time Range</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="portCode" maxOccurs="2" type="AirportNodeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The Airport City Port Code (3225). First repetition is the main search criteria. Second repetition is the optional search criteria.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="terminals" minOccurs="0" type="TerminalLocationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">List of Terminals in Search</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="displayType" minOccurs="0" type="StatusType_192182S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The Display Type - Default both Arrival and departure. (1245=DA) Display Arrival Flights (1245=DD) Display Departing Flights (1245=FSL) Display Flight Monitor List (1245=OA) Display list of Overbooked Arriving Flights (1245=OA) Display list of Overbooked Departing Flights (1245=OB) Display list of all Overbooked Flights (both arriving and departing)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="disruptedFlightsIndicator" minOccurs="0" type="SelectionDetailsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Indicates whether the request is to select and display only the disrupted flights.  (4009: DIS)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="rangeOfGates" minOccurs="0" maxOccurs="2" type="PlaceLocationIdentificationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Conveys a range of gates.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="flights" minOccurs="0" maxOccurs="999">
          <xs:annotation>
            <xs:documentation xml:lang="en">The Flight List</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="flightId" type="FlightDetailsResponseType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The Flight Identifier</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="dcsLegStatus" maxOccurs="11" type="StatusType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The status type contains the category in which status is given and the status indicator contains the corresponding status.  There are eight categories with a list of possible statuses. * General (1245:GN): - Plan Initialised (1229:GI) - Not Open, ready for use (1229:NO) - Open (1229:OP) - Locked: flight is spiked (1229:GL) - Departed (1229:FD) - Cancelled (1229:SO) - Suspended (1229:SPD) * Acceptance (1245:AC) - Not Open, ready for use (1229:NO) - Open (1229:OP) - Suspended (1229:SDP) - Gate Only (1229:GO) - Closed (1229:CL) - Finalised (1229:FI) * Boarding (1245:BO): - Not open, ready for use (1229:NO) - Open (1229:OP) - Closed (1229:CL) * Load control (1245:LC): - Not open, ready for use (1229:NO) - Open (1229:OP) - Suspended (1229:SPD) - Closed for load changes (1229:CLC) - Finalised (1229:FI) - Load Sheet Finalised (1229:LSF)  - Baggage Status (1245=BG):   - Not Open (1229=NO)   - Open (1229=OP)   - Finalised (1229=FI)   - Close (1229=CL)   - Ignore (1229=IG) - Security Discrepancies (ATL/ATT) exist (1245=SDE) - Baggage Discrepancies (BNS/Offload) exist (1245=BDE) - Flight Baggage Status has been Reopened (1245=BSR)  Another andquot;Change historyandquot; category indicates if the leg has been added or updated: * History (1245:HIS): - Updated (1229:UPD)  Category andquot;Gate Openandquot; has boolean indicator  Flight Criticality with possible statuses</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="flightCounters" minOccurs="0" maxOccurs="40" type="NumberOfUnitsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To specify: - Availability (6353=AVS) - Capacity (6353=CAP) - Seats Booked (6353=BOO) - Disembarking Pax (6353=DIS) - Transit Pax (6353=TCA) - Blocked Seats (6353=BLS) - Pax in group (6353=GRP) - Not Accepted (6353=NAC) the services counts: - MAAS (6353=MAS) - UMNR (6353=UMN) - WCHR (6353=WCR) - WCHS (6353=WCS) - WCHC (6353=WCC) - DEPU (6353=DPU) - DEPA (6353=DPA) - AVIH (6353=AIH) - BLND (6353=BLD) - DEAF (6353=DEA) - DIPL (6353=DIP) - INAD (6353=INA) - VIP (6353=VIP) - VIPO (6353=VPO) - VIPC (6354=VPC)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="flightTimes" minOccurs="0" maxOccurs="9" type="StructuredDateTimeInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To specify: - (2005=STD) - Scheduled Departure Time - (2005=ADV) - Advice Departure Time - (2005=ETD) - Estimated Departure Time - (2005=ATD) - Actual Departure Time - (2005=BOT) - Boarding Time - (2005=LBT) - Latest Boarding Time - (2005=ETA) - Estimated Arrival Time - (2005=STA) - Standard Arrival Time - (2005=ATA) - Actual Arrival Time</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="fullRouting" minOccurs="0" type="RoutingInformationTypeI">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Full Routing information.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="terminalInfo" minOccurs="0" maxOccurs="99" type="AirportNodeInformationType_156405S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Used to specify: - Airport Terminal number  Repetition used to specify terminal of all legs in Flight Monitor List.</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="gateLocation" minOccurs="0" type="TerminalLocationType_156410S">
                <xs:annotation>
                  <xs:documentation xml:lang="en">The flight gate and/or Aircraft Location - Gate   (9932=GET) - Location (9932=LOC)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="aircraftInformation" minOccurs="0" type="EquipmentInformationType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Aircraft information</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="delayCode" minOccurs="0" maxOccurs="4">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Contains delay code data.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="code" type="CodedAttributeType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Code for delay</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="time" minOccurs="0" type="StructuredDateTimeInformationType_156418S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Time for delay</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="inboundFlightInformation" minOccurs="0">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Groups inbound filght and its arrival timings, avoids an ambiguity potentially caused by SDI.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="inboundFlight" type="FlightDetailsQueryType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Inbound Flight for Flight Monitor List</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="inboundFlightTimes" maxOccurs="4" type="StructuredDateTimeInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Inbound flight scheduled, estimated and actual times</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="cabinFigures" minOccurs="0" maxOccurs="10">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Cabin figures</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cabinCode" type="CabinDetailsType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Cabin code</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="figuresPerCabin" type="NumberOfUnitsType_192168S">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Figures for given cabin</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="flightContacts" minOccurs="0" maxOccurs="2">
                <xs:annotation>
                  <xs:documentation xml:lang="en">Flight contacts: Their names, their role, and phone number.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="contactRole" type="RoleType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Flight Contact role</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="contactName" type="EnhancedTravellerInformationType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Flight contact name and surname.</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="contactPhone" minOccurs="0" type="PhoneAndEmailAddressType">
                      <xs:annotation>
                        <xs:documentation xml:lang="en">Phone number if present and permission to view it is present</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="marketingFlightDetails" minOccurs="0" maxOccurs="99" type="CommercialAgreementsType">
                <xs:annotation>
                  <xs:documentation xml:lang="en">To specify: - Marketing Carrier - Marketing Flight Suffix - Marketing Flight Number  Used when there are codeshare flights in Flight Monitor List</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AirportNodeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information linked to a specific Airport and one or more terminals.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airportCode" type="AlphaString_Length3To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify either a City Code or an Airport Code. See IATA Airline Coding directory. IATA 3 letter city/aircode code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AirportNodeInformationType_156405S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey information linked to a specific Airport and one or more terminals.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="airportCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">To specify either a City Code or an Airport Code. See IATA Airline Coding directory. IATA 3 letter city/aircode code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="terminalInformation" minOccurs="0" type="TerminalInformationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the name of the Terminal.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorDetailType">
    <xs:sequence>
      <xs:element name="errorCode" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code identifying the data validation error condition.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorCategory" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Identification of a code list.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicationErrorInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the type of application error within a message.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorDetails" type="ApplicationErrorDetailType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Application error details.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinClassDesignationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">CABIN CLASS DESIGNATION</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="classDesignator" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Designates the class of service on the means of transport in which the passenger will travel</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CabinDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the physical layout of a cabin class or cabin compartment of an aircraft.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cabinDetails" type="CabinClassDesignationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Cabin code</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey coded key and corresponding value</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeType" type="AlphaNumericString_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provides the attribute Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="attributeDescription" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">provides a description for the attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodedAttributeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to have tag value without code list for tag</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="attributeDetails" type="CodedAttributeInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provides details for the Attribute</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CommercialAgreementsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify commercial agreements between two  or more companies related to joint, shared, lease operations etc.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="codeshareDetails" type="CompanyRoleIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Marketing flight information</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="operatingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating Carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyIdentificationTypeI_204285C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code or name to identify a company and any associated companies.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="marketingCompany" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft owner</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CompanyRoleIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate commercial agreements related to the service being provided.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="transportStageQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Transport stage qualifier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="airlineDesignator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight Suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnhancedTravellerInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify traveler and personal details relating to one traveler having rich name and/or multiple names</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="otherPaxNamesDetails" type="TravellerNameDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight contact name and surname.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipmentIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type of vehicle being used</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="meanTypeCode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft Type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To17">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft registration number.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipmentInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Specify information relating to the Transport type.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="modeOfTransport" type="ModeOfTransportTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">MODE OF TRANSPORT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="equipment" type="EquipmentIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Aircraft type and registration</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="companyDetails" minOccurs="0" type="CompanyIdentificationTypeI_204285C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Company details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorGroupType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Conveys a potential error.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="errorOrWarningCodeDetails" type="ApplicationErrorInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The details of error/warning code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="errorWarningDescription" minOccurs="0" type="FreeTextInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">The desciption of warning or error.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType">
    <xs:sequence>
      <xs:element name="type" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the Facility, coded. E.g.: - Check-In Desk - Gate... The codeset is not yet defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal Description - BAEXC: means Ba-Executive Club Lounge when associated to</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FacilityInformationType_222926C">
    <xs:sequence>
      <xs:element name="type" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of the Facility, coded. E.g.: - Check-In Desk - Gate... The codeset is not yet defined.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" minOccurs="0" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Unique Reference to a Facility of a given Type in a terminal. This can be several kind of values. E.g.: - 25 (means Gate 25 when associated  Facility Type= Gate, or Check-in Desk 25 when associated Facility Type= Check-In Desk) - BAEXC: means Ba-Executive Club Lounge when associated to</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Full text description of the facility. E.g: - 'LHR Terminal 1 Gate 25' - 'LHR Terminal 1 Check-In Desk 25' - 'British Airways Executive Club Lounge'</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="workstationId" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">This Id is used to identify the desk where user is setting</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsQueryType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify outbound and inbound flight information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="inboundCarrierDetails" type="InboundCarrierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">To provide information on the incarriage flight carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inboundFlightDetails" type="InboundFlightNumberDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the incarriage flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inboundDepartureDate" type="Date_YYYYMMDD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inbound departure date in format YYYYMMDD</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inboundBoardPoint" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of departure of the incarriage flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="inboundOffPoint" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The port of destination of the incarriage flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FlightDetailsResponseType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To designate a flight for a given date in a reply.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrierDetails" type="OutboundCarrierDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provide information on the airline of the flight</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" type="OutboundFlightNumberDetailstypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Reference of the flight for the airline</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="departureDate" type="Date_YYYYMMDD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Departure date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="boardPoint" minOccurs="0" type="AlphaString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Can be omitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="offPoint" minOccurs="0" type="AlphaString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Can be ommited.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="arrivalDate" minOccurs="0" type="Date_YYYYMMDD">
        <xs:annotation>
          <xs:documentation xml:lang="en">Arrival date</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextDetailsType">
    <xs:sequence>
      <xs:element name="textSubjectQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicates whether the free text is coded or not coded.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">ISO code for the Language</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="source" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Source</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="encoding" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Encoding Type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FreeTextInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used to convey the free text and associated language, encoding.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="freeTextDetails" type="FreeTextDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free Text Details</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="freeText" maxOccurs="99" type="AlphaNumericString_Length1To199">
        <xs:annotation>
          <xs:documentation xml:lang="en">Free text and message sequence numbers of the remarks.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundCarrierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the airline company and an associated airline company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="carrier" type="AlphaNumericString_Length2To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Carrier code for inbound flight</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InboundFlightNumberDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the flight number and operational suffix of the inbound flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inbound flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Inbound flight suffix if one exists</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ModeOfTransportTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the type of service being provided.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="serviceType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">IATA service type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of number of units and its purpose.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfUnit" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Units</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitQualifier" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of count for given cabin, e.g. availability in cabin</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitDetailsType_268880C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of number of units and its purpose.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="numberOfUnit" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number Of units for given cabin and qualifier, e.g. number of seats available in cabin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="unitQualifier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Type of count for given cabin, e.g. availability in cabin</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number of units required</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" type="NumberOfUnitDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Unit Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NumberOfUnitsType_192168S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the number of units required</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="quantityDetails" maxOccurs="3" type="NumberOfUnitDetailsType_268880C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Number of Unit Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundCarrierDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify the airline company and an associated airline company.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="operatingCarrier" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OutboundFlightNumberDetailstypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the flight number and operational suffix of the outbound flight.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="NumericInteger_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PhoneAndEmailAddressType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a phone or email address</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="phoneOrEmailType" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Phone or Email contact type</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="telephoneNumberDetails" type="StructuredTelephoneNumberType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Structured telephone or fax number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlaceLocationIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify a place or a location and/or related locations.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="locationType" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Location type, in this case this is the gate.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="firstLocationDetails" type="RelatedLocationOneIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">First gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="secondLocationDetails" minOccurs="0" type="RelatedLocationTwoIdentificationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Second gate in the range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductIdentificationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">Code, number or name to identify a specific product or service.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="flightNumber" type="AlphaNumericString_Length1To4">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="operationalSuffix" minOccurs="0" type="AlphaNumericString_Length1To1">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight suffix</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductLocationDetailsTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate a location and the type of location.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="station" minOccurs="0" type="AlphaString_Length3To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">intermediate point or board point when used as leg information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="otherStation" minOccurs="0" type="AlphaString_Length3To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">Off city when used as leg information</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="qualifier" minOccurs="0" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Point type or via indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationOneIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification the first related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelatedLocationTwoIdentificationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Identification of second related location by code or name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AlphaNumericString_Length1To5">
        <xs:annotation>
          <xs:documentation xml:lang="en">The format of the gate can be any of the following:  NNNNN (eg: 12345) A     (eg: D) ANNNN (eg: C1234)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoleType">
    <xs:annotation>
      <xs:documentation xml:lang="en">provides the main Information about a Role Type</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="roleTitle" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Provides the Title for the Role</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RoutingInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To provide routing information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="routingDetails" minOccurs="0" maxOccurs="99" type="ProductLocationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Routing Details</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsInformationTypeU">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a selected option and associated              information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="option" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Option in this case is disrupted flights.  This option should be coded as: DIS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SelectionDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the details for making a selection.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="selectionDetails" type="SelectionDetailsInformationTypeU">
        <xs:annotation>
          <xs:documentation xml:lang="en">Select disrupted flights only.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status indicator code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="action" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Status indicator value</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusDetailsType_268897C">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify a status, the action to be taken, and an additional qualification of the status.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="indicator" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicator</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StatusType_192182S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To advise the requester system the status of the reply</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="statusInformation" type="StatusDetailsType_268897C">
        <xs:annotation>
          <xs:documentation xml:lang="en">STATUS DETAILS</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="timeMode" type="AlphaNumericString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Indicate if the time is expressed in UTC or in local time mode ( Codes U and L ).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="dateTime" type="StructuredDateTimeType_222931C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeInformationType_156418S">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey date/time in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="dateTime" type="StructuredDateTimeType_222933C">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey date and/or time.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" minOccurs="0" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" minOccurs="0" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType_222931C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="year" type="Year_YYYY">
        <xs:annotation>
          <xs:documentation xml:lang="en">Year number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="month" type="Month_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Month number in the year ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="day" type="Day_nN">
        <xs:annotation>
          <xs:documentation xml:lang="en">Day number in the month ( begins to 1 )</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hour" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="seconds" type="NumericInteger_Length1To2">
        <xs:annotation>
          <xs:documentation xml:lang="en">Seconds between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredDateTimeType_222933C">
    <xs:annotation>
      <xs:documentation xml:lang="en">Store date and time in a structured way</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hour" type="Hour_hH">
        <xs:annotation>
          <xs:documentation xml:lang="en">Hour between 0 and 23</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="minutes" type="Minute_mM">
        <xs:annotation>
          <xs:documentation xml:lang="en">Minutes between 0 and 59</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredPeriodInformationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">This segment is designed to convey period in a structured way.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="businessSemantic" type="AMA_EDICodesetType_Length1to3">
        <xs:annotation>
          <xs:documentation xml:lang="en">This data element can be used to provide the semantic of the information provided. Examples : - Impacted period - Departure date - Estimated arrival date and time</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="beginDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the begin date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="endDateTime" minOccurs="0" type="StructuredDateTimeType">
        <xs:annotation>
          <xs:documentation xml:lang="en">Convey the end date/time of a period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StructuredTelephoneNumberType">
    <xs:annotation>
      <xs:documentation xml:lang="en">Convey structured phone information</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="internationalDialCode" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">International dial code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="areaCode" minOccurs="0" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Area code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="telephoneNumber" type="AlphaNumericString_Length1To32">
        <xs:annotation>
          <xs:documentation xml:lang="en">Telephone number</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalInformationTypeI">
    <xs:annotation>
      <xs:documentation xml:lang="en">To indicate the terminal being used.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="name" type="AlphaNumericString_Length1To25">
        <xs:annotation>
          <xs:documentation xml:lang="en">Terminal name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="facilityDetails" minOccurs="0" maxOccurs="9" type="FacilityInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey information related to a specific Facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalLocationType_156410S">
    <xs:annotation>
      <xs:documentation xml:lang="en">To convey informations about functional and physical locations in a terminal</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="zoneDetails" minOccurs="0" type="TerminalZoneInformationType">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey details on a Zone in a Terminal. (i.e. a physical subdivision of the terminal)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="facilityDetails" minOccurs="0" maxOccurs="9" type="FacilityInformationType_222926C">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey information related to a specific Facility.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerminalZoneInformationType">
    <xs:sequence>
      <xs:element name="code" minOccurs="0" type="AlphaString_Length1To3">
        <xs:annotation>
          <xs:documentation xml:lang="en">Code referencing the Zone inside a given Terminal. E.g.: - SA. - FF - IB There is not fixed codeset for this element, as the zone codes might be different each Terminal (depending on the size of the terminal, the subdivisions are not the same)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" type="AlphaNumericString_Length1To35">
        <xs:annotation>
          <xs:documentation xml:lang="en">To convey the full text description of the Zone. E.g.: - South Area - First Floor - International Boarding Area</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportIdentifierType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To specify the transport service(s) which is /are to be updated or cancelled</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="companyIdentification" type="CompanyIdentificationTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Operating carrier</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="flightDetails" minOccurs="0" maxOccurs="2" type="ProductIdentificationDetailsTypeI">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight number range.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TravellerNameDetailsType">
    <xs:annotation>
      <xs:documentation xml:lang="en">To identify all the names in different alphabets associated to a same traveller</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="surname" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight contact surname</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="givenName" type="AlphaNumericString_Length1To70">
        <xs:annotation>
          <xs:documentation xml:lang="en">Flight contact firstname</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AlphaNumericString_Length1To199">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..199</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="199" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To70">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..70</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="70" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="4" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To4">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..4</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length1To1">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a1</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="NumericInteger_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: n..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:integer">
      <xs:pattern value="-?[0-9]{1,2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaString_Length3To5">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: a3..5</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="3" />
      <xs:maxLength value="5" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To25">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..25</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="25" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To35">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..35</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="35" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To17">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..17</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="17" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To2">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..2</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="2" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length2To3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an2..3</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="2" />
      <xs:maxLength value="3" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AlphaNumericString_Length1To32">
    <xs:annotation>
      <xs:documentation xml:lang="en">Format limitations: an..32</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="32" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AMA_EDICodesetType_Length1to3">
    <xs:annotation>
      <xs:documentation xml:lang="en">Used for codes in the AMADEUS code tables. Code Length is three alphanumeric characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9A-Z]{1,3}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Date_YYYYMMDD">
    <xs:annotation>
      <xs:documentation xml:lang="en">Date format: YYYYMMDD</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}(0[1-9]|1[0-2])(0[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Year_YYYY">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the year. Example: 2003</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-9]{4}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Month_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|1[0-2])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Day_nN">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the day in the  month. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="(0?[1-9]|[1-2][0-9]|3[0-1])" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Hour_hH">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the hours in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-1]?[0-9]|2[0-3]" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Minute_mM">
    <xs:annotation>
      <xs:documentation xml:lang="en">Value of the minutes in the  time. Only significant digits are mandatory. Example: 7</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="[0-5]?[0-9]" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
<!-- SchemaRules="2010/01"-->
<!--Created with SchemaBuilder 5.1.0 by Amadeus S.A.S.-->
<!--"Amadeus Proprietary and Confidential Information: unauthorized use and disclosure strictly forbidden. 2010 - Amadeus s.a.s - All Rights Reserved."-->
<!--Build Key:
1F8B08000000000000009553CB6EDB3010BCF32B885E7A282CCB4512040678502CDB2D602781EDA01703062DAE6D2214A972A9206A907FEF52929B143DB4BD08FBA0F631333B9FDE4E57D9669AEFEE6EC5E774743548AF07A3947F036501956C787A3DBEBC1A5FA47CBEDC7C4AD3719AB26C9985A6029C690356962028B0BB91A88B4D0C27CFA8D85E22DC520E2B59803885508D87C3E7D224B2940A6A4C0A570ED9BEB6CA40AEBD182284A0ED11874A17C88A13148F6BFA9652045F032B9C027A82C23A1BBDB2044B5E9F2B2B699BD84ED8DA180A548DD7C753101FB2AE1DBFF7AEF21A82F40D9756F189B307ADA88696867FB507E74B19B4B3635E5B598793F3FA07285E23B4CF95C6C238AC3D700C5E17C1349CFED96B4535124EC8A57CC0CFCD30910946DF18BE8A73205FD1F4FE0954F2812938C8DA84B9AF225C4A1CA44160CAD57B036BF85E832DE05E86E2D467C0DEFC139860DFDEBC44825E772F4FE091B622CB83012A43963C5287E6951D88BE556D083317996CFD96CEF6E768FDA5807185343DE4C61D15D1988FB75FA659BE9D2A7D9045D83867703BDDEC728D41DA3021A6883F626EBB94FE1122E3DD1B6CB9C6EDC21DA9963DB6836875674DC34AF047E8C168ED9906A370ED7CF8051F2D8E34578611D3DF6339B1AE4DAF1CFB5F10554EDB700BA1A3A3159B772EBC43A8F5A38013D6AD1011C5784AE9301DF5319C399F194DB57BC5462DE802302725516F1265872296D28758F7C1EA4287A65F247869D1B4FA247C04618DC3BEF2265B0E5F14184D6B4812D06B425916C753EFCF87C43239DF4C5793222D54ED256B5BB06734E1AE0E551D66CE28F02206181B0C961D8C1F91EBB73B190C5807921865EC5D7F91DD67BB7CB25EAC37BBD1D505C9BA94DA0A8A3078AE88B19DC45D3E9D8BCDEA617A66884B0F528C4697E78098CC16F96AC52ABA098D2762B9C3BE23488CC87AD2913571D181235B1C45DF7866E2D12D4873A4BBCAC8869DF9127FA4565091C47A11081AE127B1FAC27613050000
-->

